* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 170%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
}


body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: rgb(236, 255, 252);
    text-shadow: black 0.1em 0.1em 0.8em;
    font-family: bold;
    min-height: 100vh;
}



