* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

header {
    font-size: 170%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
}


body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: rgb(236, 255, 252);
    text-shadow: rgba(0, 0, 0, 0.658) 0.1em 0.1em 0.8em;
    font-family: bold;
    min-height: 100vh;
}

  h1 {
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  form {
    display: flex;
  }
  
  input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
    border-radius: 20px;
  }

  button {
    border-radius: 20px;
    width: 120px;
  }

  button:hover {
    background-color: rgb(141, 247, 255);
  }

  .li-container {
    background-color: white;
    width: 100%;
    color: rgb(255, 255, 255);
    margin-top: 20px;
  }
  
  ul {
    padding: 30;
  }


#todo-list {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

#todo-list li {
    /* Ajustar las tareas en bloquecitos */
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #dcecff;
    color: #000;
    border-radius: 5px;
}
